<!-- <mat-toolbar color="blue" size = "large">
  <button mat-button class="title" (click)="clickHome()" class="left-align">
    Gator-Dex
  </button>
  <span class="flexExpand"></span>
  <button mat-raised-button class="blue-button" (click)="clickLogin()" class="right-align">
    Login
  </button>
  &nbsp;
  <button mat-raised-button (click)="clickNewUser()" class="right-align">
    Add User
  </button>
  &nbsp;
  <button mat-raised-button (click)="clickUserList()" class="right-align">
    User List
  </button>
  &nbsp;
</mat-toolbar>


<router-outlet></router-outlet> -->

<mat-toolbar class="toolbar"> 
  <a mat-button (click)="clickHome()" class="dexButton"><b>Gator-Dex</b></a> 
<span class="flexExpand"></span> 
  <a mat-button (click)="clickLogin()">Login</a>  
  <a mat-button (click)="clickNewUser()">New User</a>  
  <a mat-button (click)="clickUserList()">User List</a>
</mat-toolbar>

<router-outlet></router-outlet>