<div class="login-container">
  <h1>Welcome to Gator-Dex!</h1>
  <h1>Log in</h1>
  <form [hidden]="submitted" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field data-cy="emailBox" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName = "Email" required>
    </mat-form-field>

    <mat-form-field data-cy="passwordBox" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="loginForm.invalid">Create New User</button> <br> <br>
    <button mat-raised-button (click)="clickNewUser()" class="newUser" >New Account</button>    
    </form>
</div>

<div [hidden]="!submitted">
  <h4>Logged in</h4>
</div>