.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 90%;
  }
  
  h1 {
    color: black;
    margin-bottom: 20px;
  }
  
  form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-color: #0021A5;
  }
  
  button {
    background-color: #0021A5;
    color: white;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 10px;
  }
  
  mat-label {
    color: black;
  }

  .newUser{
    background-color: #0021A5;
    color:white;
  }