<div class="new-user-container">
  <h1>Create Dex</h1>
  <form [hidden]="submitted" [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    <h1>Front of Card</h1>
    <mat-form-field appearance="outline">
      <mat-label for="front">Front of Card</mat-label>
      <input matInput formControlName="front" name="front">
    </mat-form-field>

    <h1>Back of Card</h1>
    <mat-form-field appearance="outline">
      <mat-label for="back">Back of Card</mat-label>
      <input matInput formControlName="back" name="back">
    </mat-form-field>

    <h1><button mat-raised-button type="submit" [disabled]="cardForm.invalid" (click)="clickHome()">Finish Dex</button>
      &nbsp;
    <button mat-raised-button type="submit" [disabled]="cardForm.invalid" (click)="clickAddCard()" >Add Card</button> </h1>   
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Successfully submitted!</h4>
</div>