<!DOCTYPE html>
<html>
<body>

<h2>Create GatorDex</h2><br>

<form action="/createGatorDexauth" method="POST">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="question">Question:</label><br>
    <input type="question" id="question" name="question"><br><br>
    <label for="answer">Answer:</label><br>
    <input type="answer" id="answer" name="answer"><br><br><br>
    <input type="submit" value="Submit">
</form> 

<br><br>
{{if .}}
    {{.}}
{{end}}

</body>
</html>