<div class="login-container">
  <h1>New Dex</h1>
  <form  [formGroup]="deckForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Dex Name</mat-label>
      <input matInput type="dexName" formControlName = "dexName" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Class Code</mat-label>
      <input matInput type="classCode" formControlName="classCode" required>
    </mat-form-field>

    <button mat-raised-button (click)="toCreate()" class="newUser" >Create Dex</button>    
    </form>
</div>